<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">

    <style>
        #header {
            background: url(../static/img/road.jpg) center center / cover no-repeat;
        }
    </style>

    <title>ForeCARst</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand text-white" href="Landing.html"><i class="fas fa-car mr-2"></i>foreCARst</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="NewCar.html">Neues Auto anlegen <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="Oldcar.html">Alte Daten hochladen <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="History.html">Über foreCARst <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white" href="Intro.html">FAQ <span class="sr-only">(current)</span></a>
                </li>
            </ul>
          </div>
        </nav>

    <section id="header" class="jumbotron text-center">
        <h1 class="display-3 text-white">foreCARst</h1>
        <p class="lead text-white">Was kostet Dein Auto eigentlich wirklich?</p>
        <a href="NewCar.html" class="btn btn-primary">Neues Fahrzeug eintragen</a>
        <a href="Oldcar.html" class="btn btn-success">Altes Fahrzeug hochladen/Tanken</a>
    </section>

    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="carData" class="text-left ml-5">
                    <h2 class="text-center">Herzlich willkommen bei foreCARst!</h2></br>
                    <h4 class="">Lege ein neues Auto an und lasse Dir zukünftige Kosten berechnen! </h4>
                        <a href="NewCar.html" class="btn btn-primary mb-5">Hier klicken!</a>
                        <p></p>
		            <h4 class="">Lade alte Daten und verbessere Deine Kostenprognose mit aktuellen Tankdaten! </h4>
                        <a href="Oldcar.html" class="btn btn-success mb-5">Hier klicken!</a>	
                        <p></p>
		            <h4 class="">Du hast offene Fragen? Wir liefern Dir Antworten! </h4>
                        <a href="Intro.html" class="btn btn-dark mb-5">Hier klicken!</a>
                        <p></p>	
		            <h4 class="">Erfahre mehr zur Geschichte von foreCARst! </h4>
                        <a href="History.html" class="btn btn-info mb-5">Hier klicken!</a>	
                        <p></p>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="../static/img/logo.jpg" alt="">
            </div>
        </div>
    </section></br>

 

    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>